.reveal {
	text-stroke: 1px black;
	-webkit-text-stroke: 1px black;
}

.reveal h1 {
	font-size: 2em;
}

.reveal h2 {
	font-size: 1.3em;
}

.reveal section img {
	border: none;
	background: none;
}

.reveal a {
	font-size: 0.8em;
}

.reveal .attribution {
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 0.5em;
}

.reveal .slide-background {
	background-size: contain;
	background-position: left;
}

.reveal .slide-background {
	filter: brightness(0.7) contrast(0.8);
}

.fade-bg .slide-background {
	filter: brightness(0.5) contrast(0.9);
}

.fade-bg-strong .slide-background {
	filter: brightness(0.3) contrast(0.9);
}
